<div class="login-wrapper">
  <div class="container">
    <div class="row block-center">
      <div class="col-md-5 mx-auto">
        <div class="card card-body">
          <form class="mt-5" [formGroup]="userDetailes" id="submitForm">
            <div [ngClass]="!invalidFormData? 'user-image' : 'error-image'"></div>
            <div class="form-group">
              <label class="py-2" for="username">Username</label>
              <input type="text" formControlName="username" class="form-control" id="username" name="username"/>
              <p class="err-msg" *ngIf="userDetailes.get('username')?.touched && userDetailes.get('username')?.errors?.['required']">Please enter valid username</p>
            </div>
            <div class="form-group">
              <label class="d-flex flex-row align-items-center py-2" for="password">Password
              </label>
              <input type="password" formControlName="password" class="form-control" id="password" name="password"/>
              <p class="err-msg" *ngIf="userDetailes.get('password')?.touched && userDetailes.get('password')?.errors?.['required']">Please enter valid password</p>
            </div>
            <div>
              <p class="err-msg" *ngIf="invalidCred">Incorrect username & password</p>
            </div>
            <div class="form-group d-flex justify-content-center align-items-center pt-2">
              <button *ngIf="!showLoader" (click)="login()" class="btn btn-primary btn-block" type="submit">
                Log In
              </button>
              <button *ngIf="showLoader" disabled class="btn d-flex justify-content-center align-items-center">
                <div class="loader"></div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
