.login-wrapper {
  height: 100vh;
  background: linear-gradient(135deg, var(--primary-color) 19%,#00baff 30%, var(--secondary-color) 90%);
}

.block-center {
  transform: translateY(30vh);
}
.img-wrapper {
  position: relative;
}
.user-image {
  position: absolute;
  top: 7%;
  right: 75%;
  width: 80px;
  height: 80px;
  padding: 45px;
  background-image: url(../../../assets/images/user.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: 2px solid #adadad;
  border-radius: 50%;
  transform: translate(173%, -65%);
}

.error-image {
  position: absolute;
  top: 7%;
  right: 75%;
  width: 80px;
  height: 80px;
  padding: 45px;
  background-image: url(../../../assets/images/user-error.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: 2px solid #d92424;
  border-radius: 50%;
  transform: translate(173%, -65%);
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform:  translate(172%, -66%) rotate(0deg); }
  25% { transform: translate(168%, -63%) rotate(1deg); }
  50% { transform: translate(168%, -63%) rotate(1deg); }
  75% { transform: translate(168%, -63%) rotate(1deg); }
  100% { transform: translate(173%, -65%) rotate(-1deg); }
}

h1 {
  color: #fff;
  padding-bottom: 2rem;
  font-weight: bold;
}

.form-control:focus {
    color: #000;
    background-color: #fff;
    border:2px solid (var(--primary-color));
    outline: 0;
    box-shadow: none;
}

.err-msg {
  color: #d92424;
  margin: 0;
  padding: 5px 0;
  font-size: 14px;
  font-weight: 500;
  font-style: oblique;
}

.btn {
  width: 80%;
  border-radius: 30px;
  outline: 0 auto;
  border: 0 solid;
  padding: 5px 20px;
  box-shadow: 4px 4px 17px #dcdcdc;
  background: linear-gradient(135deg,#00baff 1%,var(--primary-color) 50%, var(--secondary-color) 100%);
  transition: all ease .3s;
}

.btn:hover {
  transform: scale(1.05);
}
