<div class="theme my-4 px-4 py-2">
  <h6 style="margin-right:20px">Light</h6>
  <input type="checkbox" (click)="changeTheme()" class="toggle-button">
  <h6 style="margin-left:20px;">Dark</h6>
</div>
<router-outlet></router-outlet>
