.theme {
  position: absolute;
  top: -20px;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  h6 {
    font-size: 16px;
  }
  .toggle-button {
    -webkit-appearance: none;
    outline: none;
    width: 50px;
    height: 25px;
    background-color: #bdbdbd;
    border-radius: 50px;
    position: relative;
    transition: .4s;
  }

  .toggle-button:before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    top: 0;
    bottom: 0;
    background-color: var(--primary-color);
    transition: .4s;
  }

  .toggle-button:checked {
    background-color: #bdbdbd;
  }

  .toggle-button:checked:before {
    transform: translate(100%);
    background-color: #212121;
    transition: .4s;
  }
}
