.loader {
  border: 3px dotted transparent;
  border-radius: 50%;
  border-top: 3px dotted #FFFFFF;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
span {
  color: #FFFFFF;
}
