<div id="modal-content-wrapper">
  <header class="modal-header" id="modal-header">
    <button class="btn btn-primary" id="modal-cancel-button" (click)="closeModal()">Close</button>
  </header>
  <section class="modal-body" id="modal-body">
    <div class="cards-wrapper">
      <div class="card-body">
        <div class="row p-3">
          <div class="col-4 p-0 avatar">
            <img [src]="getImage(moviesDetails.title) | sanitizer" alt="avatar">
          </div>
          <div class="col-8 details">
            <p class="mb-0 title">Title: <span>{{moviesDetails.title}}</span></p>
            <p class="mb-0 genres">Genres: <span>{{moviesDetails.genres}}</span></p>
          </div>
        </div>
        <div class="details p-1">
          <p class="description mb-0">Description:</p>
          <span>{{moviesDetails.description}}</span>
        </div>
      </div>
    </div>
  </section>
  <footer id="modal-footer">
  </footer>
</div>
