.modal-header {
  justify-content: flex-end !important;
  .btn {
    border-radius: 30px;
    outline: 0 auto;
    border: 0 solid;
    padding: 5px 20px;
    margin-top: 1rem;
    box-shadow: 4px 4px 17px #dcdcdc;
    background: linear-gradient(135deg,#00baff 1%,var(--primary-color) 50%, var(--secondary-color) 100%);
    transition: all ease .3s;
  }

  .btn:hover {
    transform: scale(1.05);
  }

}

.cards-wrapper {
  .card {
    width: 100%;
    height: 100%;
  }
  .avatar {
    width: 100px;
    height: 100px;
    border: 1px solid var(--primary-color);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .details {
    font-size: 16px;
    font-weight: 600;
    span {
      font-weight: 100;
    }
  }
}
