
.dashboard-wrapper {
  box-shadow: 0px 5px 30px -10px rgb(0 0 0 / 75%);
  border-radius: 5px;
  .name {
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
    span:nth-of-type(1) { animation-delay: 0.0s; }
    span:nth-of-type(2) { animation-delay: 0.1s; }
    span:nth-of-type(3) { animation-delay: 0.2s; }
    span:nth-of-type(3) { animation-delay: 0.3s; }
    span:nth-of-type(5) { animation-delay: 0.4s; }
    span {
      font-weight: bold;
      font-size: 24px;
      letter-spacing: 10px;
      background-image: linear-gradient(60deg, var(--primary-color), var(--secondary-color));
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      animation: text 1s ease-in-out infinite;
    }
  }

  @keyframes text {
    0% {
      transform: translateY(0em);
    }
    60% {
      transform: translateY(-0.6em);
    }
    100% {
      transform: translateY(0em);
    }
  }
  .search {
    input {
      width: 100%;
    }
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    .card {
      width: 190px;
      height: 300px;
      max-width: 250px;
      max-height: 300px;
      margin: 0 1rem 0.5rem 0;
    }
    .avatar {
      width: 100px;
      height: 100px;
      border: 1px solid var(--primary-color);
      border-radius: 50%;
      display: grid;
      place-items: center;
      margin-bottom: 1.5rem;
      overflow: hidden;
      transform: translate(50%, -10%);
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .details, .title, .genres {
      font-size: 16px;
      font-weight: 600;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      span {
        font-weight: 100;
      }

    }
  }

  .btn {
    border-radius: 30px;
    outline: 0 auto;
    border: 0 solid;
    padding: 5px 20px;
    margin-top: 1rem;
    box-shadow: 4px 4px 17px #dcdcdc;
    background: linear-gradient(135deg,#00baff 1%,var(--primary-color) 50%, var(--secondary-color) 100%);
    transition: all ease .3s;
  }

  .btn:hover {
    transform: scale(1.05);
  }

  .scroll-to-top, .refresh {
    position: fixed;
    top: 86vh;
    right: 2%;
    width: 50px;
    height: 50px;
    padding: 0.5rem;
    border: 2px solid #ced4da;
    border-radius: 50%;
    background: linear-gradient(135deg,#00baff 1%,var(--primary-color) 50%, var(--secondary-color) 100%);
    box-shadow: 0px 5px 30px -10px rgb(0 0 0 / 75%);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .refresh {
    top: 75vh !important;
  }

  .no-records {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    .image-wrapper {
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    span {
      background-image: linear-gradient(60deg, var(--primary-color), var(--secondary-color));
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
