<div class="dashboard-wrapper container">
    <div class="row mt-5 px-0">
      <div class="name">
        <span>M</span><span>O</span><span>V</span><span>I</span><span>E</span><span>S</span>
      </div>

      <div class="search">
        <input type="text" (keyup)="searchData($event)" class="form-control my-2 py-2" placeholder="Example: Abc, Xyz...">
      </div>
    <ng-container *ngIf="moviesDetails.length > 0; else noRecord">
      <div class="cards-wrapper">
        <div *ngFor="let data of moviesDetails; let i = index" class="card card-body">
          <div class="avatar">
            <img [src]="getImage(data.title) | sanitizer" alt="avatar">
          </div>
          <div class="details">
            <p class="mb-0 title">Title: <span>{{data.title}}</span></p>
            <p class="mb-0 genres">Genres: <span>{{data.genres}}</span></p>
            <p class="description mb-0">Description:</p>
            <span>{{data.description}}</span>
          </div>
          <button class="btn btn-primary" (click)="openModal(data)" type="button">Read More...</button>
        </div>
      </div>

      <div class="paginator py-2">
        <mat-paginator #paginator [length]="totalCount" [pageSize]="10" [pageSizeOptions]="[10]" aria-label="Select page" (page)="pageChange($event)"></mat-paginator>
      </div>
    </ng-container>
    <div class="scroll-to-top" (click)="logout()">
      <img src="../../../assets/images/power-off.png" alt="up">
    </div>
    <div class="refresh" (click)="getMoviesList(this.initialUrl)">
      <img src="../../../assets/images/refresh-arrow.png" alt="up">
    </div>
  </div>
  <ng-template #noRecord>
    <div class="no-records">
      <div class="image-wrapper">
        <img src="../../../assets/images/error-404.png" alt="No Records Found">
      </div>
      <span>No Records Found</span>
    </div>
  </ng-template>
</div>
