/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($my-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($my-theme);

// Include the theme mixins for other components you use here.
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #000000;
  --primary-color: #2989d8 ;
  --secondary-color: #e301ff;
}

.dark-theme {
  color: #000000 !important;
  --primary-color: #373747 !important;
  --secondary-color: #8798b8 !important;
  background-color: #373747 !important;
  .card {
    background-color: #232635;
    color: #FFFFFF;
  }
  .btn {
    border: 2px solid var(--secondary-color)!important;
    border-radius: 25px !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  .scroll-to-top, .refresh {
    background: transparent !important;
  }
  mat-dialog-container#modal-component {
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #232635;
  }
  .paginator .mat-paginator {
    color: #FFFFFF !important;
    background-color:  #232635 !important;
  }
  .theme {
    color: #FFFFFF;
  }
}

.loader {
  border: 3px dotted transparent;
  border-radius: 50%;
  border-top: 3px dotted #f3f3f3;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

mat-dialog-container#modal-component {
  border-radius: 5px;
  background-color: #FFFFFF;
}

mat-dialog-container#modal-component-loader {
  box-shadow: none !important;
  background-color: #00000000;
}

.cdk-overlay-container {
  background: #020202b8 !important;
}
